In [4]:
! pip install pandas
! pip install openpyxl
import pandas as pd

Requirement already satisfied: pandas in ./venv/lib/python3.12/site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in ./venv/lib/python3.12/site-packages (from pandas) (2.2.2)
Requirement already satisfied: python-dateutil>=2.8.2 in ./venv/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in ./venv/lib/python3.12/site-packages (from pandas) (2025.1)
Requirement already satisfied: tzdata>=2022.7 in ./venv/lib/python3.12/site-packages (from pandas) (2025.1)
Requirement already satisfied: six>=1.5 in ./venv/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Collecting openpyxl
  Using cached openpyxl-3.1.5-py2.py3-none-any.whl.metadata (2.5 kB)
Collecting et-xmlfile (from openpyxl)
  Using cached et_xmlfile-2.0.0-py3-none-any.whl.metadata (2.7 kB)
Using cached openpyxl-3.1.5-py2.py3-none-any.whl (250 kB)
Using cached et_xmlfile-2.0.0-py3-none-any.whl (18 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-2.0.0 openpyxl-3.1.5

In [16]:
data = pd.ExcelFile("Rearranged_Sheet.xlsx")
sheet_names = data.sheet_names

In [ ]:
project = data.parse('PROJECT')
project

,PROJECT TITLE,PROJECT ID,Brief Project Description,Total Required Resources for the project,Total Available Resources for the project,Resource,DONOR CODE,RESOURCE AMOUNT,COMMENT,CLEARANCE ROLE,APPROVER NAME,APPROVAL DATE,Project Board Date:
0,Engagement facility West and Central Africa an...,00092084 / 00117764 / 00126438,NaN,442 398.5,442 398.5,CORE,NaN,0.0,Expected contribution of 86240 USD early 2025 ...,Project Manager,David Larue,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,DONOR,12445.0,111240.0,NaN,Director/Deputy Director for the Practice area,Henri Dommel,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,DONOR,155.0,305696.5,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,DONOR,12.0,25462.0,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,IN KIND,NaN,0.0,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Host Government or stakeholder,NaN,NaN,NaN